html {
    font-family: "Roboto", sans-serif;
}

.main-wrapper {
    max-width: 1280px;
    min-width: 480px;
    margin: auto;
}

.tag-wrapper {
    display: flex;
}

.tag {
    background-color: #ddd;
    margin-right: 8px;
    padding: 4px;
    cursor: pointer;
}

.book-title {
    font-weight: bold;
    font-size: 18px;
    flex-grow: 1;
}

.action-button {
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    flex-shrink: 0;
}

.button-label {
    border-bottom: 1px solid #000;
}

.book {
    padding: 16px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.book-title-wrapper {
    display: flex;
    align-items: baseline;
}

.tab-wrapper {
    display: flex;
}

.tab-title {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    flex-grow: 1;
    line-height: 48px;
    text-align: center;
}

.tab-title:first-child {
    border-left: 1px solid #999;
}

.tab-title.active {
    font-weight: bold;
    border-bottom: 0;
}
